[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
pymysql = "*"
python-dotenv = "*"
bootstrap-flask = "==1.0.10"
flask-mail = "*"
flask-moment = "*"
flask-uploads = "*"
pythondotenv = "*"
gunicorn = "*"
werkzeug = "==0.15.2"
sqlalchemy = "==1.3.3"

[requires]
python_version = "3.6"
