{% extends 'base.html' %}

{% block title %}新建{% endblock %}

{% block content %}
<p><h4>新建项目</h4></p>

{% for message in form.errors %}
    {{ message }}
{% endfor %}

<form method="post" action="">
    {{ form.csrf_token }}
    <p>{{ form.name.label }} {{ form.name }}</p>
    <p>{{ form.description.label }} {{ form.description }}</p>
    <p>{{ form.start_time.label }} {{ form.start_time }}</p>
    <p>{{ form.end_time.label }} {{ form.end_time }}</p>
    <p>{{ form.submit }}</p>

</form>

<p><small>注意：为了保证文件安全，项目创建成功后，只有系统管理员可以将其删除。普通用户只可以修改项目基本信息。</small></p>

{% endblock %}


