<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        .tit {
            color:skyblue;
        }

    </style>
</head>
<body>

<h1 class="tit">欢迎来到LEAF！</h1>
<h4 class="tit">A Light Easy Agile File Management System</h4>
<h4 class="tit">LEAF是一个轻量、简单、敏捷的项目文档管理系统</h4>
<hr>
{% if current_user.is_authenticated %}
您已登录
<br>
<a href="{{ url_for('auth.logout') }}">退出登录</a>
{% else %}
<p>您还未登录，不能查看或新建项目</p>
<a href="{{ url_for('auth.login') }}">登录</a>
&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('auth.register') }}">注册新用户</a>
{% endif %}
<br>
<hr>
<br>
TODO:
现有注册用户X个。
现有项目共计X个，进行中X个，已结束X个。
现有文件共计X个。

<br>
<a href="{{ url_for('.show_all_projects')}}">查看所有项目</a>
<br>
<a href="{{ url_for('.create_project')}}">新建项目</a>   

</body>
</html>