{% extends 'base.html' %}
{% block title %}总览{% endblock %}
{% block content %}
<p><h4>项目总览</h4></p>

<table border=1 cellpadding="8">
    <thead>
        <th>项目ID</th>
        <th>项目名称</th>
        <th>项目描述</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>已上传文件数</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for item in projects %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ url_for('main.project_detail', project_id=item.id ) }}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
            <td><a href="{{ url_for('user.profile', user_name=item.its_creator.name ) }}">{{ item.its_creator.name }}</a></td>
            <td>{{ moment(item.create_time).format("LLL") }}</td>
            <td>{{ item.start_time }}</td>
            <td>{{ item.end_time }}</td>
            <td> {{ item.its_files|count }}</td>
            <td><a href="{{ url_for('main.upload', project_id=item.id) }}">上传文件</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
