{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block content %}
<p><h4>用户注册</h4></p>
<br>
     {% for message in form.errors %}
        {{ message }}
    {% endfor %}

    <form method="post" action="">
        {{ form.csrf_token }}
        <p>{{ form.name.label }} {{ form.name }}</p>
        <p>{{ form.mobile.label }} {{ form.mobile }}</p>
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.department.label }} {{ form.department }}</p>
        <p>{{ form.post.label }} {{ form.post }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.password2.label }} {{ form.password2 }}</p>
        <p>{{ form.submit }}</p>
    </form>

{% endblock %}

