<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新用户注册</title>
</head>
<body>
    
    <h2>注册用户</h2>

    {% for message in form.errors %}
        {{ message }}
    {% endfor %}
    
    <form method="post" action="">
        {{ form.csrf_token }}
        <p>{{ form.name.label }} {{ form.name }}</p>
        <p>{{ form.mobile.label }} {{ form.mobile }}</p>
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.department.label }} {{ form.department }}</p>
        <p>{{ form.post.label }} {{ form.post }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.password2.label }} {{ form.password2 }}</p>
        <p>{{ form.submit }}</p>
    </form>

</body>
</html>