{% extends 'base.html' %}
{% block title %}修改信息{% endblock %}
{% block content %}
<p><h6>修改个人信息</h6></p>
<br>
<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.new_name.label }}：{{ form.new_name }}
        <small>现为：{{current_user.name}}</small>
    </p>
        {% for error in form.new_name.errors%}
             <p><strong>{{error}}</strong></p>
        {% endfor %}
    <p>
        {{ form.new_mobile.label }}：{{ form.new_mobile }}
        <small>现为：{{current_user.mobile}}</small>
    </p>
        {% for error in form.new_mobile.errors%}
             <p><strong>{{error}}</strong></p>
        {% endfor %}
    <p>
        {{ form.new_department.label }}：{{ form.new_department }}
        <small>现为：{{current_user.department}}</small>
    </p>
    <p>
        {{ form.new_post.label }}：{{ form.new_post }}
        <small>现为：{{current_user.post}}</small>
    </p>
    <p>{{ form.submit }}</p>
</form>
<br>
<p><small>只输入你想修改的某几项信息即可</small></p>
<p><small>若不想改变某一项信息，在输入框中不输入任何字符</small></p>
{% endblock %}
