{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block content %}
<p><h4>用户注册</h4></p>
<br>
     {% for message in form.errors %}
        {{ message }}
    {% endfor %}

    <form method="post" action="">
        {{ form.csrf_token }}
        <p>{{ form.name.label }} {{ form.name }}</p>
        <p>{{ form.mobile.label }} {{ form.mobile }}</p>
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p>{{ form.department.label }} {{ form.department }}</p>
        <p>{{ form.post.label }} {{ form.post }}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <p>{{ form.password2.label }} {{ form.password2 }}</p>
        <p>{{ form.submit }}</p>
    </form>

<p><small>注意：LEAP是一个公司内部的实名制协作系统。如果已注册用户中有跟您重名的用户，系统会自动为您的名字加上部门和职位名称以便区分。</small></p>
<p><small>例如，公司有两位“王力”，则后一个注册的王力在LEAP中的名字会自动变为“王力_（部门名称）_（职位名称）”</small></p>
<p><small>我们强烈建议您注册时在名字后面加上诸如出生年份、昵称、英文名等信息来主动规避重名，比如“王力1987”， “王力Eric”都是不错的做法。</small></p>
<p><small>但是请不要只使用网名或英文名做名字，例如”ALan“，“高新区第一帅”之类的名字，因为这将增加其他同事认人的难度。</small></p>

{% endblock %}

