{% extends 'base.html' %}
{% block title %}添加成员{% endblock %}
{% block content %}

<!--当没有可添加的成员时，隐藏表单的Submit字段-->
<style>
    .hideme {
        display:none;
        }
</style>

<p><h6> 为 【{{ project.name }}】 添加成员</h6></p>

<form action="" method="post">
    {{ form.csrf_token }}
    <p>{{ form.member.label}}:</p>
    <p>{{ form.member }}</p>
    <p>{{ form.submit }}</p>
</form>
<p><small>提示：按住ctl键可以多选</small></p>

<a href="{{ url_for('main.project_detail', project_id=project.id) }}">返回项目详情页</a>
<hr>
<p><h6> 【{{ project.name }}】 现有成员列表</h6></p>

{% for user in project.its_member_users%}

    <p>{{user.name}}</p>

{% endfor %}

{% endblock %}
