{% extends 'base.html' %}
{% block title %}修改文件简介{% endblock %}
{% block content %}
<p><h6>修改文件简介</h6></p>
<br>

<form action="" method="post">
    {{ form.csrf_token }}

    <p>
        {{ form.new_origin_filename.label }} {{ form.new_origin_filename }}
        <small>现为：{{file.origin_filename}}</small>
    </p>
        {% for error in form.new_origin_filename.errors%}
             <p><strong>{{error}}</strong></p>
        {% endfor %}

    <p>
        {{ form.new_description.label }} {{ form.new_description }}
        <small>现为：{{file.description}}</small>
    </p>

    <p>
        {{ form.new_author.label }} {{ form.new_author }}
        <small>现为：{{file.author}}</small>
    </p>

    <p>
        {{ form.new_reviewer.label }} {{ form.new_reviewer }}
        <small>现为：{{file.reviewer}}</small>
    </p>

    <p>{{ form.submit }}</p>
</form>

<br>
<p><small>只输入你想修改的某几项信息即可</small></p>
<p><small>若不想改变某一项信息，在输入框中不输入任何字符</small></p>
{% endblock %}