{% extends 'base.html' %}
{% block title %}我的上传{% endblock %}
{% block content %}
<p><h4>我的上传</h4></p>

{% if files %}

    <table border=1 cellpadding="15">
        <thead>
            <th>文件名称</th>
            <th>文件描述</th>
            <th>文件大小</th>
            <th>上传时间</th>
            <th>文件所属项目</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for item in files %}
            <tr>
                <td>{{ item.origin_filename }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.file_size | size}}</td>
                <td>{{ moment(item.upload_time).format('lll') }}</td>
                <td>{{ item.its_project.name }}</td>
                <td>
                    <a href="{{ url_for('main.change_file', file_id = item.id) }}">修改简介</a><br>
                    <a href="">隐藏文件</a><br>
                    {% if current_user.is_admin %}
                    <a href="">删除文件</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    你还没有上传任何文件
{% endif %}

{% endblock %}
