{% extends 'base.html' %}
{% block title %}详情{% endblock %}
{% block content %}
<p><h6>【{{ project.name }}】 成员列表</h6></p>
    {% if current_user.is_admin or current_user in project.its_member_users %}
        <p><small><a href="{{ url_for('main.add_user', project_id = project.id )}}">添加成员</a></small></p>
    {% else %}
        <p><small>只有本项目成员和系统管理员可以增减成员</small></p>
    {% endif %}
<table border="1" cellpadding="12">
    <thead>
        <th>姓名</th>
        <th>部门</th>
        <th>职务</th>
        <th>手机号</th>
        <th>邮箱</th>
        <th>身份</th>

        <!--只有系统管理员和项目创建人有权删除项目成员-->
        {% if current_user.is_admin or current_user.id == project.its_creator.id %}
        <th>成员操作</th>
        {% endif %}

    </thead>
    <tbody>
        {% for user in project.its_member_users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.department }}</td>
            <td>{{ user.post }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.id == project.its_creator.id %}
                    项目创建人
                {% elif user.is_admin %}
                    系统管理员
                {% else %}
                    项目成员
                {% endif %}
            </td>

            <!--只有系统管理员和项目创建人有权删除项目成员-->
            <!--用户不能删除自己，也不能删除系统管理员-->
        {% if current_user.is_admin or current_user.id == project.its_creator.id %}
        <td>
            <small>
            {% if current_user.id == user.id %}
                不能删除自己
            {% elif user.is_admin %}
                管理员不能被删除
            {% else %}
            <a href="{{ url_for('main.delete_member', project_id=project.id, user_id=user.id) }}">删除成员</a>
            </small>
            {% endif %}
        </td>
        {% endif %}

        </tr>
        {% endfor %}
    </tbody>

</table>

<hr>
<p><h6>【{{ project.name }}】 所有文件</h6></p>
{% if current_user.is_admin or current_user in project.its_member_users %}
            <p><small><a href="{{ url_for('main.upload', project_id=project.id) }}">上传新文件</a></small></p>
        {% else %}
            <p><small>只有本项目成员和系统管理员可以上传文件</small></p>
        {% endif %}
<p><small>点击下列文件名即可下载</small></p>

<table border=1 cellpadding="8">
    <thead>
        <th>文件名</th>
        <th>文件大小</th>
        <th>文件描述</th>
        <th>上传人</th>
        <th>作者</th>
        <th>审核人</th>
        <th>上传时间</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for file in project.its_files %}
        <tr>
            <td><a href="{{ url_for('main.download', file_id=file.id) }}">{{ file.origin_filename }}</a></td>
            <td>{{ file.file_size | size}}</td>
            <td>{{ file.description }}</td>
            <td>{{ file.its_uploader.name }}</td>
            <td>{{ file.author }}</td>
            <td>{{ file.reviewer }} </td>
            <td>{{ moment(file.upload_time).format("lll") }}</td>

            <td>
                {% if current_user.is_admin or current_user.id == file.its_uploader.id %}
                <a href="{{ url_for('main.change_file', file_id = file.id) }}">修改简介</a>
                <br>
                <a href="{{ url_for('main.delete_file', file_id=file.id) }}">删除文件</a>
                {% else %}
                    只有文件上传人或系统管理员有权操作该文件
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
