{% extends 'base.html' %}
{% block title %}总览{% endblock %}
{% block content %}
<p><h4>项目总览</h4></p>

<table border=1 cellpadding="6">
    <thead>
        <th>ID</th>
        <th>名称</th>
        <th>描述</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>文件数</th>
        <th>成员数</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for item in projects %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ url_for('main.project_detail', project_id=item.id ) }}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
            <td><a href="{{ url_for('admin.profile', user_name=item.its_creator.name ) }}">{{ item.its_creator.name }}</a></td>
            <td>{{ moment(item.create_time).format("ll") }}</td>
            <td>{{ item.start_time }}</td>
            <td>{{ item.end_time }}</td>
            <td> {{ item.its_files|count }}</td>
            <td>{{ item.its_member_users | count}}</td>
            <td>
                <small>

                <!--登录用户必须是项目组成员或Admin才能添加成员    -->
                {% if current_user.is_admin or current_user in item.its_member_users %}
                    <a href="{{ url_for('main.upload', project_id=item.id) }}">上传文件/</a><br>
                    <a href="{{ url_for('main.add_user', project_id = item.id )}}">添加成员/</a><br>
                {% else %}
                    你还不是项目成员
                {% endif %}


                <!--登录用户必须是项目创建人或Admin才有下列2个选项-->
                {% if current_user.is_admin or current_user.id  == item.its_creator.id %}
                    <a href="">编辑简介/</a><br>
                    <a href="">隐藏项目/</a><br>
                {% endif %}
                <!--登录用户必须是系统管理员Admin才能删除项目    -->
                {% if current_user.is_admin %}
                <a href="">删除项目</a>
                {% endif %}
                </small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
