{% extends 'base.html' %}
{% block title %}总览{% endblock %}
{% block content %}
<p><h4>项目总览</h4></p>

{% if projects %}

<table class="table table-bordered table-sm">
    <thead class="thead-light">
        <th scope="col">名称</th>
        <th scope="col">描述</th>
        <th scope="col">创建人</th>
        <th scope="col">创建时间</th>
<!--        <th scope="col">开始时间</th>-->
<!--        <th scope="col">结束时间</th>-->
        <th scope="col">文件数</th>
        <th scope="col">成员数</th>
        <th scope="col">操作</th>
    </thead>
    <tbody>
        {% for item in projects %}
        <tr>
            <td><a href="{{ url_for('main.project_detail', project_id=item.id ) }}">{{ item.name }}</a></td>
            <td>{{ item.description }}</td>
            <td><a href="{{ url_for('admin.profile', user_name=item.its_creator.name ) }}">{{ item.its_creator.name }}</a></td>
            <td>{{ moment(item.create_time).format("ll") }}</td>
<!--            <td>{{ item.start_time }}</td>-->
<!--            <td>{{ item.end_time }}</td>-->
            <td> {{ item.its_files|count }}</td>
            <td>{{ item.its_member_users | count}}</td>
            <td>
                <small>

                <!--登录用户必须是项目组成员或Admin才能添加成员    -->
                {% if current_user.is_admin or current_user in item.its_member_users %}
                    <a href="{{ url_for('main.upload', project_id=item.id) }}">上传新文件/</a><br>
                    <a href="{{ url_for('main.add_user', project_id = item.id )}}">添加成员/</a><br>
                {% else %}
                    你不是本项目成员
                {% endif %}


                <!--登录用户必须是项目创建人或Admin才有下列2个选项-->
                {% if current_user.is_admin or current_user.id  == item.its_creator.id %}
                    <a href="{{ url_for('main.change_project', project_id=item.id)}}">修改项目简介</a><br>
                {% endif %}
                <!--登录用户必须是系统管理员Admin才能删除项目    -->
                {% if current_user.is_admin %}
                <a href="{{ url_for('main.delete_project', project_id=item.id) }}">/删除项目</a>
                {% endif %}
                </small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>空空如也，快去新建一个项目吧！</p>
{% endif %}

{% endblock %}
